
.home__page1 {
    padding-top: 3rem;
}

.home {

    &__img {
        &--1 {
            background-image: url('../assets/images/paralax1.jpg');
        }
        &--2 {
            background-image: url('../assets/images/parallax2.jpg');
        }
    }
}