@import "../../../sass/main.scss";

.parallax {

    

    &__content {
        height: 50rem;
        background-color: red;
    }

    &__picture {
        height: 50rem;
        background-color:blue;
    }
}



.home__page1 {
    padding-top: 3rem;
}