@keyframes top-cross-hover {
    0% {
        transform: rotate( 0 );
    }
    30% {
        transform: rotate( -10deg );
    }
    70% {
        transform: rotate( 10deg );
    }
    100% {
        transform: rotate( 0 );
    }
}
@keyframes bottom-cross-hover {
    0% {
        transform: rotate( -135deg );
    }
    30% {
        transform: rotate( -125deg );
    }
    70% {
        transform: rotate( -145deg );
    }
    100% {
        transform: rotate( -135deg );
    }
}

@mixin whiteGradientSlide( $bg-color, $slide-color: white, $duration: .3s ) {
    transition: background-position $duration linear;
        background-image: 
        linear-gradient( 
            120deg, 
            $bg-color 35%, 
            $slide-color 50%, 
            $bg-color 65%, 
        );
        background-position: 100%;
        background-size: 400%;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        &:hover {
            background-position: 0%;
        }
}