@keyframes top-cross-hover {
    0% {
        transform: rotate( 0 );
    }
    30% {
        transform: rotate( -10deg );
    }
    70% {
        transform: rotate( 10deg );
    }
    100% {
        transform: rotate( 0 );
    }
}
@keyframes bottom-cross-hover {
    0% {
        transform: rotate( -135deg );
    }
    30% {
        transform: rotate( -125deg );
    }
    70% {
        transform: rotate( -145deg );
    }
    100% {
        transform: rotate( -135deg );
    }
}