*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color:  transparent; 
    transform-style: inherit;
}

html {
    font-size: 62.5%;
    z-index: 0;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
