body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.page-title {
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    font-weight: 100;
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;

    &--light {
        border-bottom: 1px solid $color-grey-light;
        color: $color-grey-light;
    }
    &--dark {
        border-bottom: 1px solid $color-grey-dark;
        color: $color-grey-dark;
    }
}

.section-title {
    text-decoration: none;
    text-transform: capitalize;
    text-align: left;
    font-weight: 700;
    font-size: 2.5rem;
}
