*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6.8rem;
  vertical-align: middle;
  padding: 0;
  background-color: black; }
  @media (min-width: 56.25rem) and (max-width: 75rem) {
    .header {
      padding: 0 10vw; } }
  @media (min-width: 75rem) and (max-width: 112.5rem) {
    .header {
      padding: 0 15vw; } }
  .header__title {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.8; }
  .header__burger {
    width: 4rem;
    position: relative;
    height: 100%;
    margin: 0 2rem;
    float: left; }
    .header__burger--top, .header__burger--middle, .header__burger--bottom {
      width: 4rem;
      height: 2px;
      border-radius: 1px;
      background-color: white;
      position: absolute;
      transition: all .3s;
      display: inline-block; }
    .header__burger--top {
      left: 0;
      top: 30%; }
      .header__burger--top.cross {
        top: 50%;
        transform: rotate(135deg); }
    .header__burger--middle {
      left: 0;
      top: 50%; }
      .header__burger--middle.cross {
        top: 50%;
        opacity: 0;
        transform: translateX(-300%); }
    .header__burger--bottom {
      left: 0;
      top: 70%; }
      .header__burger--bottom.cross {
        top: 50%;
        transform: rotate(-135deg); }
