//  COLORS
$color-black: rgb(0,0,0);

$color-white: rgb(255, 255, 255);


// z-indexes
$z-header: 2;
$z-burger: 5;

//paddings: 
$padding-horizontal-md: 10vw;
$padding-horizontal-lg: 15vw;