//  COLORS
$color-black: rgb(0,0,0);

$color-white: rgb(255, 255, 255);

$color-grey-light: rgb(214, 214, 214);    


// z-indexes
$z-header: 2;
$z-menu: 4;
$z-burger: 5;
$z-link: 100;
$z-link-bg: 50;

//paddings: 
$padding-horizontal-lg: 15vw;
$padding-horizontal-xl: 20vw;