//  COLORS
$color-black: rgb(0,0,0);

$color-white: rgb(255, 255, 255);

$color-grey-light: rgb(214, 214, 214);    
$color-grey-dark: rgb(58, 58, 58);    


// z-indexes
$z-header: 80;
$z-menu: 20;
$z-burger: 30;
$z-link: 30;
$z-link-bg: 25;
$z-section: 3;
$z-player-container : 10;
$z-player-background: -5;

// parallax:
$header-height: 6.8rem;


//paddings: 
$padding-horizontal-lg: calc( 50% - 56rem );
$padding-horizontal-xl: calc( 50% - 56rem );

$fade-height: 20vh;