/* instructions:
    1. add the prlx__container class to the body/section/element with your content where you want to scroll
    2. create div's with .prlx__wrapper in which you'll put your parallaxed content/picture;
    3. to the created prlx__wrapper add the class prlx__-1/prlx__-2/.../prlx__-n where n is the depth

*/

// VARIABLES

$perspective: 50px;

// calculate the scale factor
@function scale-factor( $z ) {
    @return ( $perspective - $z ) / $perspective;
}


$z-prlx__-1: -100;
$translateZ-prlx__-1: -10px;
$scale-prlx__-1: scale-factor( $translateZ-prlx__-1 ) ;


$z-prlx__-2: -200;
$translateZ-prlx__-2: -20px;
$scale-prlx__-2: scale-factor( $translateZ-prlx__-2 ) ;

$z-prlx__-3: -300;
$translateZ-prlx__-3: -30px;
$scale-prlx__-3: scale-factor( $translateZ-prlx__-3 ) ;

$z-prlx__-4: -300;
$translateZ-prlx__-4: -40px;
$scale-prlx__-4: scale-factor( $translateZ-prlx__-4 ) ;

$z-prlx__-5: -500;
$translateZ-prlx__-5: -50px;
$scale-prlx__-5: scale-factor( $translateZ-prlx__-5 ) ;

$z-prlx__-6: -600;
$translateZ-prlx__-6: -60px;
$scale-prlx__-6: scale-factor( $translateZ-prlx__-6 ) ;

$z-prlx__-7: -700;
$translateZ-prlx__-7: -70px;
$scale-prlx__-7: scale-factor( $translateZ-prlx__-7 ) ;


.prlx__container {}

.prlx {

    &__container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        perspective: $perspective;
        transform-style: preserve-3d;

        & * {
            transform-style: inherit;
            z-index: $z-section
        }
    }

    &__wrapper {
        height: 100vh;
        width: 100%;
        overflow: hidden;

        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }


    //various depths
    &__-1 > *{
        transform: translateZ($translateZ-prlx__-1) scale( $scale-prlx__-1 );
        z-index: $z-prlx__-1;
    }   
    &__-2 > * {
        transform: translateZ($translateZ-prlx__-2) scale( $scale-prlx__-2 );
        z-index: $z-prlx__-2;
    }   
    &__-3 > * {
        transform: translateZ($translateZ-prlx__-3) scale( $scale-prlx__-3 );
        z-index: $z-prlx__-3;
    }   
    &__-4 > * {
        transform: translateZ($translateZ-prlx__-4) scale( $scale-prlx__-4 );
        z-index: $z-prlx__-4;
    }   
    &__-5 > * {
        transform: translateZ($translateZ-prlx__-5) scale( $scale-prlx__-5 );
        z-index: $z-prlx__-5;
    }   
    &__-6 > * {
        transform: translateZ($translateZ-prlx__-6) scale( $scale-prlx__-6 );
        z-index: $z-prlx__-6;
    }   
    &__-7 > * {
        transform: translateZ($translateZ-prlx__-7) scale( $scale-prlx__-7 );
        z-index: $z-prlx__-7;
    }
}

*::-webkit-scrollbar {
    display: none;
}
