@mixin parallax-img( $url ) {
    background-image: url( "../../assets/images/paralax1.jpg" );
    background-size: cover;
    background-position: center;
    position: relative;
    // opacity: .7;
    background-attachment: fixed;
    z-index: $z-parallax-img;
}

