/* instructions:
    1. add the prlx__container class to the body/section/element with your content where you want to scroll
    2. create div's with .prlx__wrapper in which you'll put your parallaxed content/picture;
    3. to the created prlx__wrapper add the class prlx__-1/prlx__-2/.../prlx__-n where n is the depth

*/

// VARIABLES

$perspective: 50px;

// calculate the scale factor
@function scale-factor( $z ) {
    @return ( $perspective - $z ) / $perspective;
}


$z-prlx__-1: -3;
$translateZ-prlx__-1: -10px;
$scale-prlx__-1: scale-factor( $translateZ-prlx__-1 ) ;


$z-prlx__-2: -4;
$translateZ-prlx__-2: -20px;
$scale-prlx__-2: scale-factor( $translateZ-prlx__-2 ) ;



.prlx {

    &__container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        perspective: $perspective;
        transform-style: preserve-3d;

        & * {
            transform-style: preserve-3d;
            z-index: $z-section
        }
    }

    &__wrapper {
        height: 70vh;
        width: 100%;
        overflow: hidden;
        position: relative;

        > img {
            width: 100%;
            position: absolute; 
        }
    }

    &__-1 > *{
        transform: translateZ($translateZ-prlx__-1) scale( $scale-prlx__-1 );
        z-index: $z-prlx__-1;
    }   
    &__-2 > * {
        transform: translateZ($translateZ-prlx__-2) scale( $scale-prlx__-2 );
        z-index: $z-prlx__-2;
    }
}

// *::-webkit-scrollbar {
//     display: none;
// }
