.row {
    display: block;
    padding: 0 2rem;
    @include respond(lg) {
        padding: 0rem calc( 2rem + #{$padding-horizontal-lg})
    }
    @include respond(xl) {
        padding: 0rem calc( 2rem + #{$padding-horizontal-xl})
    }
}



.section {
    height: fit-content;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &--dark {
        background-color: $color-black;
        color: $color-white;
    }
    &--light {
        background-color: $color-white;
        color: $color-black;
    }
    &:not(:first-child) {

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: $fade-height;
            width: 100%;
            top: -$fade-height;
            left: 0;
            z-index: 1;
        }
    }
    &:not(:last-child) {
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: $fade-height;
            width: 100%;
            left: 0;
            z-index: 1;
            bottom: -$fade-height;
        }    
    }
    &--dark{
        &:not(:first-child)::before {
            background-image: 
                linear-gradient(
                    to top,
                    $color-black 0%,
                    transparent 100%,
                )
        }
        &:not(:last-child)::after {
            background-image: 
                linear-gradient(
                    to bottom,
                    $color-black 0%,
                    transparent 100%,
                )
        }
    }
    &--light{
        &:not(:first-child)::before {
        background-image: 
            linear-gradient(
                to top,
                $color-white 0%,
                transparent 100%,
            )
        }
        &:not(:last-child)::after {
            background-image: 
                linear-gradient(
                    to bottom,
                    $color-white 0%,
                    transparent 100%,
            )
        }
    }
}

.paragraph {
    font-size: 2rem;
    font-weight: 300;
    line-height: 170%;
    &:first-letter {
        font-size: 5rem;
        font-weight: 500;
    }
}

.intro {
    padding: 1rem;
    text-align: center;
    display: block;
}
.feature {
    &__container {
        text-align: center;

        // @include respond( lg, xl) {
        //     &:hover > *:not(:hover) {
        //         filter: blur(5px);
        //     }
        // }
    }
    &__card {

        box-sizing: margin-box;
        display: inline-block;
        
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.164);
        opacity: 1;
        
        @include respond( sm, md, lg, xl ) {
            width: 30rem;
            margin: 2rem;
        }
        @include respond(xs, xxs) {
            width: 100%;
            margin: 2rem 0 2rem 0;
        }
        
        //hover animation
        @include respond( lg, xl ) {
            transition: all .5s;
            opacity: .7;

            &:hover {
                opacity: 1;
                transform: translateY( -.3rem ) scale( 1.1);
                box-shadow: 0 2px 1rem 1rem rgba(255, 255, 255, 0.103);

            }
        }
        &:first-child > .feature__text-container {
            font-size: 2rem;
        }
    }
    &__card-container1 {
        height: 40rem;
        display: inline-block;
    }
    &__icon-container {
        
        text-align: center;
        padding: 3rem;
        font-size: 6rem;
        opacity: 1
        // background-clip: text;
        // -webkit-background-clip: text;
        // background-image: linear-gradient( rgb(172, 172, 172), white);
        // color: transparent;

    }
    &__text-container {
        // display: table-cell;
        // vertical-align: middle;
        text-align: center;
        font-size: 1.5rem;
        opacity: .8;
        
        padding: 0 2rem 2rem 2rem;
        & > h3 {
            font-size: 2.1rem;
        }
    }
    &__btn {
        outline: none;
        text-decoration: none;

        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid white;

        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 1rem 2rem 1rem 2rem;
        margin: 3rem;
        border-radius: .5rem;
        font-weight: 800;
        font-family: inherit;
        
    }
}