.row {
    display: block;
    padding: 2rem;
    @include respond(lg) {
        padding: 2rem calc( 2rem + #{$padding-horizontal-lg})
    }
    @include respond(xl) {
        padding: 2rem calc( 2rem + #{$padding-horizontal-xl})
    }
}