@import '../../../sass/main.scss';

.footer {
    background-color: rgb(65, 65, 65);
    color: rgb(175, 175, 175);

    padding-top: 2rem;
    padding-bottom: 2rem;

    @include clearfix;



    &__section {
        display: inline-block;
        border: 1px solid red;
        float: left;

        &:not(:last-child) {
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 800;
    }

    &__author {
        font-weight: 400;
        font-size: 2.5rem;
    }
}