<footer class="footer">
    <div class="row">
        <span class="footer__section footer__section--author">
            <h4 class="footer__section__title">created by</h4>
            <div class="footer__section__content">
                <h2 class="footer__author">
                    Faidon Kourounakis
                </h2>
            </div>
            
        </span>
        <span class="footer__section footer__section--contact">
            <h4 class="footer__section__title">contact</h4>
            <div class="footer__section__content">
                    <a class="footer__link" href="https://github.com/FaidonKourounakis/maelstrom">
                        <i class="fab fa-github-square footer__icon footer__icon--github" ></i>
                    </a>
                    <a class="footer__link" href="mailto:faidon.kourounakis@gmail.com">
                        <i class="fas fa-envelope footer__icon footer__icon--email"></i>
                    </a>
                    <a class="footer__link" href="www.linkedin.com">
                        <i class="fab fa-linkedin footer__icon footer__icon--linkedin"></i>

                    </a>
                
            </div>
        </span>
    </div>
</footer>