
.header {
    // position
    position: fixed;
    z-index: $z-header;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.8rem;
    vertical-align: middle;
    box-shadow: 0 0rem .8rem .2rem rgba(0, 0, 0, 0.363);

    padding: 0;
    @include respond(xl) { padding: 0 $padding-horizontal-xl; }
    @include respond(lg) { padding: 0 $padding-horizontal-lg; }

    background-color: $color-black;

    &__ghost {
        height: 6.8rem;
    }

    &__title {
        //functionality
        display: inline-block;

        //text styling
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase; 
        font-weight: 300;
        font-size: 4rem;
        line-height: 1.8;

        // //padding
        // padding-left: 2rem;
    }

    &__burger {
        width: 4rem;
        position: relative;
        height: 100%;
        margin: 0 2rem;
        float: left;
        z-index: $z-burger;
        

        &--top, &--middle, &--bottom {
            width: 4rem;
            height: 2px;
            border-radius: 1px;
            background-color: $color-white;
            position: absolute;
            transition: all .2s;
            display: inline-block;
        }
        &--top {
            left:0;
            top: 30%;
            &.cross {
                top: 50%;
                transform: rotate( 135deg);
            }
        }
        &--middle {
            left:0;
            top: 50%;
            &.cross {
                top: 50%;
                opacity: 0;
                transform: translateX(-300%);
            }
        }
        &--bottom {
            left:0;
            top: 70%;
            &.cross {
                top: 50%;
                transform: rotate( -135deg);
            }
        }
        @include respond(lg, xl) {
            &:hover &--top {
                transform: translateY( -.4rem );
                &.cross {
                    transform: scale(1.2) rotate(135deg);
                }
            }
            &:hover &--bottom {
                transform: translateY( .4rem );
                &.cross {
                    transform: scale(1.2) rotate(-135deg)
                }
            }
        }
    }
}